<div>
  <h3>Daily quotes</h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <div class="card">
          <div *ngFor='let quote of quotes; let i = index' class='card-body bg-info' >
            <li id={{i}}appStrikethrough style="color:black">
              {{quote.name}}  {{quote.completeDate|date}}
              <br>
  
              <button type="button" name="button" (click)="quote.upvotes = quote.upvotes + 1" class="btn btn-success">Upvote {{quote.upvotes}}</button>
  
              <button type="button" name="button" (click)="quote.downvotes = quote.downvotes + 1" class="btn btn-warning">Downvote {{quote.downvotes}}</button>
              </li>
              <br>
               <button (click)='toggleDetails(i)' class="btn btn-primary">Show quotes</button>
              <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQoute($event, i)'></app-quote-detail>
  
          </div>
        </div>
      </ul>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>

    </div>
  </div>

</div>
